/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

#earth {
  left: -200px ;
  position: absolute;
}

#curiosity {
  position: absolute;
  z-index: 3;
}

.rocket {
  transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  width:5%;
}

.mars {
  margin-left: 5000px;
}

.standard {
  position: fixed;
  top: 10%;
  left: 10%;
  -webkit-transition:width 2s, height 2s, background-color 2s, -webkit-transform 2s;
  transition:width 2s, height 2s, background-color 2s, transform 2s;
}

.standard.move-class {
  -webkit-transform:translate(4800px,0);
  transform:translate(4800px,0);
}


