body {
  background-color: gray;
  background-image: url("http://apod.nasa.gov/apod/image/1401/hchi_FNeyer_large2.jpg");
}

h2 {
  color: white;
}
#earth {
  left: -200px ;
  position: absolute;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  width: 600px;
  height: 600px;
}

#earth.move-earth {
  -webkit-transform:translate(-600px,0);
  transform:translate(-600px,0);
}

#curiosity {
  position: absolute;
  z-index: 3;
}

.rocket {
  width:50px;
  margin: -100px 0 0 200px;
  transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
/*  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;*/
}

/*.rocket.motion {
  margin-top: 200px;
  background-color: red;
}*/

.mars {
  margin-left: 5000px;
  height: 250px;
  -webkit-transition: -webkit-transform 2s;
  transition: transform 2s;
}

.mars.move-mars {
  -webkit-transform:translate(-4500px,0);
  transform:translate(-4500px,0);
}

.bottom {
  bottom: 0;
  transition: height 2s ease;
  -webkit-transition: height 2s ease;
  -moz-transition: height 2s ease;
  height: 0px;
  width: 800px;
}

.bottom.show-box {
  color: white;
  height: 250px;
  background-color: black;
  border: 2px solid white;
}

.bottom a {
  color: white;
  font-weight: 700;
}

.bottom p {
  color: white;
  font-size: 0em;
  transition: font-size 2s ease;
  -webkit-transition: font-size 2s ease;
  -moz-transition: font-size 2s ease;
}

.bottom.show-box p {
  font-size: .9em;
}

