/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

#earth {
  left: -200px ;
  position: absolute;
}

#curiosity {
  position: absolute;
  z-index: 3;
}

.rocket {
  width:50px;
  margin: -100px 0 0 200px;
  transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
/*  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;*/
}

/*.rocket.motion {
  margin-top: 200px;
  background-color: red;
}*/

.mars {
  margin-left: 5000px;
  height: 250px;
  -webkit-transition: -webkit-transform 2s;
  transition: transform 2s;
}

.mars.move-mars {
  -webkit-transform:translate(-4500px,0);
  transform:translate(-4500px,0);
}


