<div ng-controller="CuriosityCtrl" id="curiosity" ng-init="getDatum()">
  <h2>{{ datum.MissionName | filter:'curiosity' }} <button ng-click="martian='move-mars'; action='motion'; earthican='move-earth'; box='show-box'">Launch Mission</button></h2>

  <span>  
    <svg id="earth" height="600" ng-class="earthican">
        <circle cx="50" cy="50" r="500" fill="blue" />
    </svg>
  </span>

  <span>
    <img src="img/mars.png" class="mars" ng-class="martian" />
  </span>

  <span>  
    <img src="img/rocket.png" class="rocket" ng-class="action"/>
  </span>

  <div class="bottom" ng-class="box">
    <p>{{ datum.Information | filter:'curiosity' }}</p>
    <a href="{{ datum.Link}}">Learn more here.</a>
  </div>
</div>
