<div ng-controller="CuriosityCtrl" id="curiosity">
  <h2>{{ datum[0].MissionName }}</h2>

  <button ng-click="getDatum()">Learn More:</button>
  <a href="{{datum[0].Link}}">here</a>

  <button ng-click="sayPlanet()">Which planet?</button>
    {{ planet }}

  <button  ng-click="followCuriosity()">Let's Go!</button>

  <span class="curiosity">
    <svg height="20">
        <rect width="10" height="20" fill="black" />
    </svg>
  </span>

  <span>
    <svg id="mars" height="100">
          <circle class="mars" cx="50" cy="50" r="26" fill="red" />
    </svg>
  </span>
</div>